*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#F5F9FA ;
    font-family: "Plus Jakarta Sans",sans-serif;
}


.loginpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.info_pp{
    display: none;
}
.login{
    background-color: white;
    height: 400px;
    width: 430px;
    padding: 20px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        width: 390px;
        border: 0.5px solid;
        border-radius: 4px;
        
    }
    img{
            width: 70px;
            margin-bottom: 20px;
        }
    ::placeholder{
            color:rgb(183, 181, 181)
            ;
    }
    button{
        padding: 10px;
        margin-top: 10px;
        width: 410px;
        background-color: #614DE2;
        color: white;
        border-radius: 10px;
        border: none;
    }
    .info_p{
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
    }
    p{
        font-size: 20px;
    }
    a{
        color: #5d96d4;
        font-size: 16px;
    }
    
    
}



@media screen and (max-width:600px){
    body{
        margin-left: 15px;
        margin-right: 15px;
    }
    .login{
        padding: 35px;
        width: 80%;
        height: 350px;
        input{
            width: 350px;
            border: 1px solid;
        }
        img{
            width: 60px;
                        margin-bottom: 20px;

        }
        button{
            width: 370px;
        }
        .hidden{
            display: none;
        }
        a{ 
            font-size: 14px;
        }
        p{
            font-weight: bolder;
        }
        .info_pp{
            text-align: center;
            display: block;
            a{
                color: red;
                text-decoration: none;
            }
        }
    }

    
}
